/* common propoties*/
a{
    text-decoration: none;
    color: black;
}
h5{
    display: block;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: lighter;
    unicode-bidi: isolate;
}
h6 {
    display: block;
    font-size: 0.67em;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: lighter;
    unicode-bidi: isolate;
}
.product img{
    width:200px;
    height:200px;
    border-radius: 10px;
}
body{
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: fit-content;
}
/* ======================header=================================================================================================*/
.header{
  
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
    font-style: normal;
 
}
.main-content{
    width: 1170px;
    max-width: calc(100% - 20px);
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.main-content nav{
    margin-left:auto;
    margin-top:auto; 
    margin-bottom: auto;
    a{padding: 8px 11px}
    a:hover{ font-size: larger;}
}
.button{
    display : inline-block;
    padding : 7px 17px;
    color:aliceblue;
    margin-top:auto; 
    margin-bottom: auto;
    border-radius: 5%;
    background-color: black;
    margin-left: 40px;
}
.header .button{
    margin-left: 4%;
    margin-right: 2%;
}
.button:hover{
    transition: 0.5s;
    background-color: dimgray;
}
.main{
    display:flex;
}
/*=============category=======================*/
.main .category{
    width:15%;
    padding: 5px;
    margin-left: 0%;
    margin-right: 5px;
    border-right:1px solid rgb(23, 22, 22);

    
}
.tag_a a{
    width: 80% ;
    height: fit-content;
    display:inline-block;
    padding : 4px 1px;
    margin-bottom: 5px;
    background-color:rgb(244, 244, 243); 
}
.tag_a a:hover{
    border-bottom: 1px solid black;
}
/*============================================================================= PRODUCT ================================================================================*/
.product {
    width: 1160px;
    height: fit-content;
    padding:3px;
    text-align: center;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
} 
.product .product_box{
    width:200px;
    height: fit-content;
    margin-top: 5px;
    margin-bottom: 23px;
    border: 1px solid black;
    padding:4px;
    text-align: left;
    border-radius: 10px;
    background-color: #eee;
    box-shadow: 10px 5px 20px rgba(0, 0, 0,0.1);
    cursor: pointer;
    

}
.product .product_box:hover{
    box-shadow: 10px 5px 20px rgba(0, 0, 0,0.15);
    transition: 0.2s;
    p{color:rgb(39, 38, 38); text-shadow: 0.2px 0.2px 40px rgb(154, 211, 255) ;}
}
.product_box .des{
    margin-top: 0px;
    p{  font-size: 1.1rem;
        margin-block-start: 0em;
        margin-block-end: 0.2em;
    }
    margin-left: 5px;
    margin-right: 5px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.product_page{
    display: flex;
    height: fit-content;
}
.product_detail{
    width: 40%;
    margin-left:50px;
    margin-top:50px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-right: 25px;
    border-right: 1px solid black;
    
    
}
.product_detail .large_product_img img{
    width: 100%;
    cursor: pointer;
}
.product_detail .small_product_img{
    display: flex;
    justify-content: space-between;
}
.product_detail .small_product_img img{
    width:24%;
    margin-top:5px;
    cursor: pointer;   
}
.product_page .product_des{
    padding:50px;
    width:60%;
    input{width:40px; height: 20px;margin:10px;margin-left: 0px;}

}

.footer_main{
    width: 98.5%;
    height:180px;
    padding:10px;
    margin-top: 10px;
    border-top: 1px solid black;
    display:flex;
    h1{
        height: 70%;
        width: 13.8% ;
        border-right: 1px solid black;
        padding:10px;

    }
}
.footer_main .contact_box{
    margin-left: 30px;
    margin-right: 30%;
}
/* ============= MOBILE============== */
@media(max-width:976px) {
    .footer_main{
            font-size: xx-small;
            width: 98%;
            height:150px;
            padding:10px;
            margin-top: 10px;
            border-top: 1px solid black;
            display:flex;
            h1{
                padding:5px;
                padding-right: 10px;
            }
            img{
                width: 0px;
                height: 0px;
            }
    }
}
@media(max-width:500px) {
    .header{
        font-size: xx-small;
        width: 98%;
    }
    .header .nav{
        display: flex;
        font-size: 6px;
        a{ padding: 5px;}
    }
    .header .button{
        margin-left: 3%;
        font-size: 5px;
        padding: 5px 7px;

    }
    /*==== home page ====*/
    .main .category{
        font-size: 0%;
        width:0%;
        padding: 0px;
        margin-left: 0%;
        margin-right: 0px;
        border-right:0px solid rgb(23, 22, 22);    
    }
    .tag_a a{
        width: 0% ;
        height: fit-content;
        display:inline-block;
        padding : 0px 0px;
        margin-bottom: 0px;
        background-color:rgb(244, 244, 243); 
    }
    .tag_a a:hover{
        border-bottom: 1px solid black;
    }
    .product {
        width: 1160px;
        height: fit-content;
        padding:3px;
        text-align: center;
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
    } 
    .product .product_box{
        width:90px;
        height: fit-content;
        margin-top: 5px;
        margin-bottom: 23px;
        border: 1px solid black;
        padding:4px;
        text-align: left;
        border-radius: 10px;
        background-color: #eee;
        box-shadow: 10px 5px 20px rgba(0, 0, 0,0.1);
        img{width:100%; height:100%; border-radius: 10px;}
        p{font-size: 8px;}
    }


    .product_page{
    box-sizing: border-box;
    display: block;
    height: fit-content;
    width: 98%;
    }
    .product_detail{
    width: 100%;
    padding:0px;
    margin:0px;
    border-right: none;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid black; 
    }
    .product_page .product_des{
        padding:0px;
        width:97%;
        font-size: x-small;
    }
    .product_page .product_des .button{
        font-size: xx-small;
    }
    /* ==== footer ====*/
    .footer_main{
        font-size: xx-small;
        width: 98%;
        height:150px;
        padding:10px;
        margin-top: 10px;
        border-top: 1px solid black;
        display:flex;
        h1{
            padding:5px;
            padding-right: 10px;
        }
        img{
            width: 0px;
            height: 0px;
        }
    }
    .footer_main .contact_box{
        display:block;
        margin-left:10%;
        margin-right: 0px;
        font-size: 80%;
 
    }
}
